@font-face
{
font-family: Arial, sans-serif;
}

:root
{
  --UNC-Blue: #013c65;
  --UNC-Gold: #f6b000;
  --UNC-Gray: #8a8a8d;
}
body
{
    background-color: var(--UNC-Gray);
}
*
{
    color: var(--UNC-Blue);
    text-align: center;
}
h1
{
    font-size: calc(16pt + 6vw);
    font-family: 'Arial';
}
h2
{
    font-size: 28pt;
    font-family: 'Arial';
}
nav
{
    font-family: 'Arial';
}
#top
{
    border: 14px var(--UNC-Gold) solid;
    margin: 12vw;
    margin-top: 7px;
}
section
{
    border: 7px var(--UNC-Blue) solid;
    margin: 20vw;
    margin-top: 12px;
    margin-bottom: 22px;
}
.date
{
    color: var(--UNC-Gold);
    white-space: nowrap;
}

.date strong
{
    color: var(--UNC-Gold);
    white-space: nowrap;
}
ul
{
    list-style: none;
    padding-left: 2px;
}
